.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Estilo para a lista de cidades */
ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #e0e0e0;
}

.cidade-info {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  text-align: center;
}

.cidade-info h2 {
  font-size: 24px;
}

.cidade-info img {
  max-width: 50%; 
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
}

.cidade-info p {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin: 10px 0;
}

.cidade-info button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.cidade-info button:hover {
  background-color: #0056b3;
}
